parameters:
    paths:
        - src

    level: 10

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
      - "#return type has no value type specified in iterable type array#"

    excludePaths:
      - src/Facades/Bastion.php
      - src/Concerns/HasBastionTokens.php
